*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #111827;
    font-family: 'Lexend Deca', sans-serif;
    
}
.main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    height: 100%;
}
.photo {
    background-image: url('/images/cv_biometric_photo.jpg');
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;   
    animation: photoChange 5s linear forwards;
}

.mi, .mid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.midle {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}
h1, h2 {
    padding: 0;
    margin: 0;
    color: #f0f0f0;
}

.loop {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    background-color: #1a2337;
    width: 50%;
    height: 50px;
    opacity: 1;
}
.l44p { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:  0px;
    background-color: #111827;
    width: 35%;
    height: 100%;
    animation: backgroundChange 5s infinite alternate;
    opacity: 0.8;
}
.l44p h5 {
    color: green;
    background-color: transparent;
}

@keyframes backgroundChange {
    0% {
        background-color: #111827;
        opacity: 1; 
    }
    50% {
        background-color: white;
        opacity: 0.5; 
    }
    100% {
        background-color: #111827;
        opacity: 1; 
    }
}
@keyframes photoChange {
    0% {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 5px solid whitesmoke;
    }
    50% {
        width: 300px;
        height: 300px;
        border-radius: 35%;
        border: 3px solid whitesmoke;
    }
    100% {
        border-radius: 10%;
        margin-top: 50px;
        width: 350px;
        height: 350px;
        border: 1px solid #2e519d;
    }
}